h1.title {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.card {
    transition: transform 0.3s, background-color 0.3s,box-shadow 0.3s;
}
.card:hover {
    transform: scale(1.001, 1.001);
    box-shadow: 0px 20px 50px 0px rgba(141, 167, 244, 0.5);
}
.container-icon {
    height: 100%;
    width: 40%;
    border-radius: 5px;
    border: 1px solid #ced4da;
    color: white;
    padding: 10px;
}
.container-icon:hover{
    
}
input#search {
    padding: 10px;
}
